name: Release Home-Assistant-Matter-Hub
on:
  workflow_dispatch:
    inputs:
      project:
        description: 'Project (e.g., hamh)'
        required: true
        default: 'hamh'
      channel:
        description: 'Channel (latest, beta, alpha)'
        required: true
        default: 'alpha'
      version:
        description: 'Version (e.g., 3.0.4-alpha)'
        required: true
        default: '3.0.4-alpha'
      changelogUrl:
        description: 'Changelog URL'
        required: true
        default: 'https://github.com/ticollins91/home-assistant-matter-hub/releases'
  repository_dispatch:
    event_name: release

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Version
        id: event_parser
        run: |
          # Use input from manual run OR payload from dispatch
          PROJECT="${{ github.event.inputs.project || github.event.client_payload.project }}"
          CHANNEL="${{ github.event.inputs.channel || github.event.client_payload.channel }}"
          VERSION="${{ github.event.inputs.version || github.event.client_payload.version }}"
          URL="${{ github.event.inputs.changelogUrl || github.event.client_payload.changelogUrl }}"
          
          if [ "$CHANNEL" != "latest" ]; then
            PROJECT="$PROJECT-$CHANNEL"
          fi

          echo "project=$PROJECT" >> "$GITHUB_OUTPUT"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "changelogUrl=$URL" >> "$GITHUB_OUTPUT"

      - name: Setup Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Copy Changelog
        env:
          CHANGELOG_FILE: ${{steps.event_parser.outputs.project}}/CHANGELOG.md
        run: |
          curl -L "${{ steps.event_parser.outputs.changelogUrl }}" > $CHANGELOG_FILE
          git add $CHANGELOG_FILE

      - name: Apply release version
        env:
          CONFIG_FILE: ${{steps.event_parser.outputs.project}}/config.yaml
        run: |
          yq -i ".version = \"${{ steps.event_parser.outputs.version }}\"" $CONFIG_FILE
          git add $CONFIG_FILE

      - name: Publish
        run: |
          git commit -m "bump(${{steps.event_parser.outputs.project}}): bump to version ${{ steps.event_parser.outputs.version }}"
          git push origin main
